<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse - Torce</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</head>
<body>
    <div class="container usersc">
        <section class="users">
            <header>
                <div class="content">
                    <img src="../assets/img/persona2.jpg" alt="">
                    <div class="details">
                        <span>Melanie</span>
                        <p>En línea</p> 
                    </div>
                </div>
                <a href="" class="logout">Cerrar sesión</a>
            </header>
            <div class="search">
                <span class="text">Elige un usuario para chatear</span>
                <input type="text" placeholder="Digita un nombre para buscar">
                <button> <i class="fas fa-search"></i></button>
            </div>
            <div class="users-list">
                <a href="#">
                    <div class="content">
                        <img src="../assets/img/persona3.jpg" alt="">
                        <div class="details"> 
                            <span>Elías García</span>
                            <p>Mensaje de prueba</p>
                        </div>
                    </div>
                    <div class="status-dot">
                        <i class="fas fa-circle"></i>
                    </div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="../assets/img/persona3.jpg" alt="">
                        <div class="details"> 
                            <span>Elías García</span>
                            <p>Mensaje de prueba</p>
                        </div>
                    </div>
                    <div class="status-dot">
                        <i class="fas fa-circle"></i>
                    </div>
                </a>
                <a href="#">
                    <div class="content">
                        <img src="../assets/img/persona3.jpg" alt="">
                        <div class="details"> 
                            <span>Elías García</span>
                            <p>Mensaje de prueba</p>
                        </div>
                    </div>
                    <div class="status-dot">
                        <i class="fas fa-circle"></i>
                    </div>
                </a> <a href="#">
                    <div class="content">
                        <img src="../assets/img/persona3.jpg" alt="">
                        <div class="details"> 
                            <span>Elías García</span>
                            <p>Mensaje de prueba</p>
                        </div>
                    </div>
                    <div class="status-dot">
                        <i class="fas fa-circle"></i>
                    </div>
                </a> <a href="#">
                    <div class="content">
                        <img src="../assets/img/persona3.jpg" alt="">
                        <div class="details"> 
                            <span>Elías García</span>
                            <p>Mensaje de prueba</p>
                        </div>
                    </div>
                    <div class="status-dot offline">
                        <i class="fas fa-circle"></i>
                    </div>
                </a>
            </div>
        </section>
    </div>
    
    
</body>
</html>